{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>Edit Employee</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="form-container">

<h2>Edit Employee</h2>

<form method="POST">

{% csrf_token %}

<input type="text" name="name" value="{{ emp.name }}">

<input type="email" name="email" value="{{ emp.email }}">

<input type="text" name="department" value="{{ emp.department }}">

<input type="number" name="salary" value="{{ emp.salary }}">

<input type="date" name="joining_date" value="{{ emp.joining_date|date:'Y-m-d' }}">

<button type="submit">Update Employee</button>

</form>

<a href="/" class="back-btn">Back to Employee List</a>

</div>

</body>

</html>